#frame {
	width: 768px;
	min-height: 1004px;
	margin: 0 auto;
	background: black;
	position: relative;
	overflow: hidden;
	
	&:after {
		position: absolute;
		top: 1004px;
		left: 0;
		height: 1px;
		width: 100%;
		background: rgba(255, 255, 255, 0.1);
		content: "";
		z-index: 10;
	}
	
	> .view {
		min-height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	
	button.refresh {
		position: fixed;
		top: 10px;
		left: 50%;
		margin-left: -374px;
		background: none;
		z-index: 10;
		cursor: pointer;
		
		img {
			height: 25px;
			opacity: .1;
		}
	}
}