footer {
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -384px;
	width: 768px;
	padding: 10px;
	background: darken($c-1, 10%);
	
	div {
		@include flexbox();
		
		textarea {
			resize: none;
			@include flex(1);
			margin: 0 10px 0 0;
			border-radius: 8px 0 0 8px;
			font: normal normal normal 20px/#{$f-1-l-h} $f-1;
			padding: 10px 15px;
		}
		
		button {
			@include flex(0 0 auto);
			border-radius: 0 8px 8px 0;
		}
	}
}