ul.messages {
	padding: 220px 119px 115px 25px;
	
	li {
		@include flexbox();
		width: 100%;
		
		&:nth-child(n + 2) {
			margin-top: 20px;
		}
		
		.picture {
			height: 70px;
			width: 70px;
			margin-right: 25px;
			@include flex(0 0 auto);
			
			img {
				width: 100%;
			}
		}
		
		.text {
			font: normal normal normal 20px/#{$f-1-l-h} $f-1;
			@include flex(1);
			padding: 20px 25px;
			border-radius: 8px;
		}
		
		&.user {
			.picture {
				border: 3px solid rgba(255, 255, 255, 0.3);
				border-radius: 5px;
			}
			
			.text {
				background: #519678;
			}
		}
		
		&.system {
			.text {
				background: transparentize(white, .6);
			}
		}
	}
}