<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Panorama&trade; - Dev</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" sizes="152x152" href="img/panorama-apple-icon.png">
        <icon src="img/panorama-apple-icon.png" platform="ios" width="152" height="152" density="mdpi" />
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="fonts/fontello/css/fontello.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/panorama.css">
    </head>
    <body>

        <div id="page"></div>

        <script type="text/template" id="home-template">
            <div class="splash">
                <div id="copyright">Patents Pending. (c)2015 Pathway Genomics Corporation.</div>
                <div id="contactinfo">Dr. Michael Nova MD<br />michael@pathway.com</div>
            </div>
        </script>

        <script type="text/template" id="welcome-template">
            <div class="page">
                <header id="hdr">
                    <a href="#" class="icon-cw"></a>
                </header>
                <div class="welcome clearfix">
                    <h1 class="effect">Welcome!</h1>
                    <p class="effect">Think of some questions that you would ask a Healthcare Professional.</p>
                    <p class="effect">Here we emulate using your<br /> personal mobile device.</p>
                    <p class="effect">Now let&apos;s ask Panorama<sup class="tm">&trade;</sup>.</p>
                    <a href="#questions" class="btn effect start-demo green">Start Demo</a>
                </div>
            </div>
        </script>

        <script type="text/template" id="alert-template">
            <div id="modal-overlay"></div>
            <div id="alert">
                <div class="msg"><%= msg %></div>
                <div class="action"><a href="#" class="btn close-alert">OK</a></div>
            </div>
        </script>

        <script type="text/template" id="questions-template">
            <header id="hdr">
                <a href="#" class="icon-cw restart"></a>
            </header>
            <div id="content">
                <div class="questions clearfix">
                    <header>Please choose a question:</header>
                    <div class="question-list">
                        <ul>
                            <% _.each(questions, function(question) { %>
                                <li><a href="#" data-id="<%= question.id %>"><%= question.question %></a></li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="answers-template">
            <header id="hdr">
                <a href="#" class="icon-cw restart"></a>
            </header>
            <div class="answers">
                <div class="question">
                    <%= answer.question %>
                </div>
                <div id="data-sources" class="data-sources hidden">
                    <div>
                        <ul id="icons" class="clearfix">
                            <li>Data Sources</li>
                            <li>
                                <div class="spinner"></div>
                                <div class="icon-apple chicklet <%= ($.inArray(0, answer.dataSources) > -1) ? '' : 'disabled' %>"></div>
                            </li>
                            <li>
                                <div class="spinner"></div>
                                <div class="icon-applewatch chicklet <%= ($.inArray(1, answer.dataSources) > -1) ? '' : 'disabled' %>"></div>
                            </li>
                            <li>
                                <div class="spinner"></div>
                                <div class="icon-location chicklet <%= ($.inArray(2, answer.dataSources) > -1) ? '' : 'disabled' %>"></div>
                            </li>
                            <li>
                                <div class="spinner"></div>
                                <div class="icon-fit-bit chicklet <%= ($.inArray(3, answer.dataSources) > -1) ? '' : 'disabled' %>"></div>
                            </li>
                            <li>
                                <div class="spinner"></div>
                                <div class="icon-dna chicklet <%= ($.inArray(4, answer.dataSources) > -1) ? '' : 'disabled' %>"></div>
                            </li>
                            <li>
                                <div class="spinner"></div>
                                <div class="icon-ehr chicklet <%= ($.inArray(5, answer.dataSources) > -1) ? '' : 'disabled' %>"></div>
                            </li>
                            <li>
                                <div class="spinner"></div>
                                <div class="icon-md-info chicklet <%= ($.inArray(6, answer.dataSources) > -1) ? '' : 'disabled' %>"></div>
                            </li>
                            <li>
                                <div class="spinner"></div>
                                <div class="icon-facebook-squared chicklet <%= ($.inArray(7, answer.dataSources) > -1) ? '' : 'disabled' %>"></div>
                            </li>
                        </ul>
                    </div>
                    <ul class="clearfix">
                        <li>&nbsp;</li>
                        <li <%= ($.inArray(0, answer.dataSources) > -1) ? '' : 'class="disabled"' %>>Apple HealthKit</li>
                        <li <%= ($.inArray(1, answer.dataSources) > -1) ? '' : 'class="disabled"' %>>Apple Watch</li>
                        <li <%= ($.inArray(2, answer.dataSources) > -1) ? '' : 'class="disabled"' %>>GPS</li>
                        <li class="fitbit <%= ($.inArray(3, answer.dataSources) > -1) ? '' : 'disabled' %>">FitBit Flex</li>
                        <li <%= ($.inArray(4, answer.dataSources) > -1) ? '' : 'class="disabled"' %>>Genetics &amp; Biomarkers</li>
                        <li <%= ($.inArray(5, answer.dataSources) > -1) ? '' : 'class="disabled"' %>>E.H.R.</li>
                        <li <%= ($.inArray(6, answer.dataSources) > -1) ? '' : 'class="disabled"' %>>MD Book</li>
                        <li <%= ($.inArray(7, answer.dataSources) > -1) ? '' : 'class="disabled"' %>>Social Media</li>
                    </ul>
                </div>
                <div class="answer-con">
                    <% _.each(answer.answers, function(answer) { %>
                        <div class="answer">
                            <div><%= answer.answer %></div>
                            <div class="confidence clearfix">
                                <div class="rating" style="width:<%= answer.confidence * 1.3 %>px">
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                </div>
                                <div class="percent">
                                    <%= answer.confidence %>%
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <footer id="question-actions" class="clearfix">
                <a href="#questions" class="btn blue new-question">Try a different question</a>
                <a href="#modal" class="btn orange modal">How does Panorama know?</a>
            </footer>
        </script>

        <script type="text/template" id="modal-template">
            <div id="modal-overlay"></div>
            <div id="modal" class="modal">
                <header>How does Panorama<sup class="tm">TM</sup> know?</header>
                <section>
                    <p>We&apos;re glad you asked!</p>
                    <p>Introducing Panorama, the first hybrid Artificial Intelligence for personalized Health Information.</p>
                    <p>Panorama is powered by:</p>
                    <ul>
                        <li>Thousands of pages of textbooks<br /> and medical journals</li>
                        <li>Medicare data on care providers and cost</li>
                        <li>YOUR medical records</li>
                        <li>YOUR genetics and/or biomarker data</li>
                        <li>YOUR personal wellness devices</li>
                        <li>IBM&apos;s Watson platform</li>
                    </ul>
                    <p>Panorama will use revolutionary new technology, combined with secure access to your data, to create a virtual "doctor in your pocket".</p>
                </section>
                <footer>
                    <a href="#close" class="btn close">Close</a>
                </footer>
            </div>
        </script>

        <script src="js/questions.js"></script>
        <script src="js/fastclick.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/underscore.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/app.js"></script>
        <script src="js/panorama.js"></script>
    </body>
</html>