#app > .view.hello {
	background: rgb(14, 32, 56);
	
	.container {
		@include flexbox();
		@include align-items(flex-end);
		min-height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		
		.item {
			@include flex(1);
			font: normal normal 300 34px/#{$f-1-l-h} $f-1;
			color: white;
			text-align: center;
			padding: 110px;
			
			p {
				opacity: 0;
				
				&:nth-child(n + 2) {
					margin-top: 40px;
				}
				
				&:nth-child(1) {
					@include keyframes(custom) {
						0% {opacity: 0;}
						33% {opacity: 1;}
						66% {opacity: 1;}
						100% {opacity: .65;}
					}
					@include animation(custom 1.5s linear .5s 1 normal forwards);
				}
				
				&:nth-child(2) {
					@include keyframes(custom) {
						0% {opacity: 0;}
						11.1% {opacity: 1;}
						88.9% {opacity: 1;}
						100% {opacity: .65;}
					}
					@include animation(custom 4.5s linear 1.5s 1 normal forwards);
				}
				
				&:nth-child(3) {
					@include animation(fadeIn .5s linear 5.5s 1 normal forwards);
				}
				
				&:nth-child(4) {
					@include animation(fadeIn .5s linear 9s 1 normal forwards);
				}
			}
		}
	}
}