#app > .view.hello {
	background: rgb(14, 32, 56);
	
	.container {
		@include flexbox();
		@include align-items(flex-end);
		min-height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		
		.item {
			@include flex(1);
			font: normal normal 300 34px/#{$f-1-l-h} $f-1;
			color: white;
			text-align: center;
			padding: 110px;
			
			p {
				opacity: 0;
				
				&:nth-child(n + 2) {
					margin-top: 40px;
				}
				
				@include keyframes(fadeInAndSlightlyOut) {
					0% {opacity: 0;}
					25% {opacity: 1;}
					75% {opacity: 1;}
					100% {opacity: .65;}
				}
				
				@for $i from 1 to 3 {
					&:nth-child(#{$i}) {
						@include animation(fadeInAndSlightlyOut 2s linear #{($i * 1.5) - 1.5}s 1 normal forwards);
					}
				}
				
				@for $i from 3 to 5 {
					&:nth-child(#{$i}) {
						@include animation(fadeIn .5s linear #{($i * 1.5) - 1.5}s 1 normal forwards);
					}
				}
			}
		}
	}
}