#app > .view.intro {
	text-align: center;
	padding: 20px;
	background: black;
	
	> * {
		opacity: 0;
	}
	
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 100%;
		opacity: 0;
		background: url(../images/splash.png) no-repeat center / cover;
		@include animation(fadeIn 1s linear 3s 1 normal forwards);
	}
	
	img[src*="pg.png"] {
		width: 350px;
		@include animation(fadeIn 1s linear 3.5s 1 normal forwards);
	}
	
	img[src*="ohm.png"] {
		width: 500px;
		margin: 150px 0 40px 0;
		@include animation(fadeIn 1s linear 1s 1 normal forwards);
	}
	
	img[src*="ohm-byline.png"] {
		width: 275px;
		@include animation(fadeIn 1s linear 2s 1 normal forwards);
	}
	
	img[src*="ibm.png"] {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 20px;
		@include animation(fadeIn 1s linear 4s 1 normal forwards);
	}
	
	p {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 20px;
		text-align: left;
		color: white;
		@include animation(fadeIn 1s linear 4s 1 normal forwards);
	}
}