#frame > .view.hello {
	background: rgb(14, 32, 56);
	
	.container {
		@include flexbox();
		@include align-items(flex-end);
		min-height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		
		.item {
			@include flex(1);
			font: normal normal normal 34px/#{$f-1-l-h} $f-1;
			color: white;
			text-align: center;
			padding: 110px;
			
			p {
				&:nth-child(n + 2) {
					margin-top: 40px;
				}
				
				$paragraphs: 6;
				@for $i from 1 to $paragraphs {
					&:nth-child(#{$i}) {
						opacity: 0;
						@include animation(fadeIn 1s linear #{($i * 1.5) - 2}s 1 normal forwards);
					}
				}
			}
		}
	}
}