#frame > .view.select {
	background: rgb(28, 65, 111);
	color: white;
	
	h1 {
		font: normal normal normal 36px/#{$f-1-l-h} $f-1;
		text-align: center;
		margin: 75px 0;
	}
	
	ul.people {
		list-style: none;
		max-width: 530px;
		margin: 0 auto;
		
		li {
			@import "partials/person";
			
			.person {
				cursor: pointer;

				&:hover {
					background: darken(rgb(99, 151, 196), 5%);
				}
				
				&:nth-child(n + 2) {
					margin-top: 70px;
				}
			}
		}
	}
}